# System files
.DS_Store

# R files to ignore
*.Rhistory
*.RData

# Large raw data or experiment files (optional)
*.csv
archive/
svg_figures/
stimuli_tapping/
detection_experiment/
tapping_experiment/

# Python caches
__pycache__/
*.pyc

